* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}
.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: black;
  min-width: 118px;
  padding: 0 16px;
}

.btn:hover {
  opacity: 0.9;
  background-color: violet;
}
*/
/* header */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
/* /* nav */
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
*/ .nav li.active a::after {
  background: #171100;
  left: 21px;
  bottom: 8px;
  width: 12px;
  height: 2px;
  content: "";
  border-radius: 1px;
  display: block;
  position: absolute;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* hero */
.hero {
  padding: 53px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .content-block {
  width: 52%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover; // co dinh picture
  border-radius: 20px;
}
.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  background: #fff;
  width: 270px;
  height: 244px;
  border-radius: 16px;
  /* box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05); */
}
.hero-summary .item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-summary .info {
  margin-left: 16px;
}
.item .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.item .info .tittle {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
}
/* hero right  */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .content-block .heading {
  color: #171100;
  font-weight: 600;
  line-height: 1.17;
  font-size: 5.8rem;
  font-family: var(--font-heading);
  letter-spacing: -1px;
}
.hero .content-block .desc {
  color: #5f5b53;
  margin-top: 22px;
  margin-left: auto;
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 400;
  /* letter-spacing: -1px; */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  background-color: var(--primary-color);
  line-height: 64px;
  min-width: 180px;
  border-radius: 32px;
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.hero .watch-video .icon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  background: #fff;
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
  cursor: pointer;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .starts {
  margin-top: 8px;
}
.hero .starts strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}
.hero .starts strong:nth-child(2) {
  margin-left: 28px;
}
